@model OdeToFood.Models.AboutModel
@{
    ViewBag.Title = "About";
}


<h2>@ViewBag.Title.</h2>
<h3>@Model.Name</h3>

<p>Dit is de About pagina van mijn website.</p>

<p>Use this area to provide additional information. Vrijdag versie</p>

<div>Location: @Model.Location</div>

